{% extends 'base.html' %}

{% block left_drawer %}
{% endblock %}
{% block user %}

    {% if User_Detail == '' %}
        <a href="/users/login/" type="button" class="btn btn-primary btn-flat btn-addon btn-sm m-b-10 m-l-5"
           style="margin: 12px"><i class="ti-user"></i> Login</a>

        <a href="/users/register" type="button" class="btn btn-primary btn-flat btn-addon btn-sm m-b-10 m-l-5"
           style="margin: 12px"><i class="ti-user"></i> SignUp</a>
    {% else %}
        <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
                <div class="avatar-circle">
                    <span class="initials">{{ User_Detail.Display_Name|make_list|first|title }}</span>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                <ul class="dropdown-user">
                    <li><a href="#"><i class="ti-user"></i> Profile</a></li>
                    <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                    <li><a href="#"><i class="ti-settings"></i> Setting</a></li>
                    <li><a href="/users/Sign_Out/"><i class="fa fa-power-off"></i> Logout</a></li>
                </ul>
            </div>
        </li>
    {% endif %}
{% endblock %}
{% block body %}
 <h1>DASHBOARD</h1>
{% endblock %}