{% extends 'base.html' %}
{% block body %}
    <div class="container-fluid">
    <h1>About US</h1>
    <div class="card">
        Reason behind creating this project is not just to create website for youtubers, its about the vision.
        A vision to help users how to get succeed in their youtube career.
        It's about how they will get to know how many views they will get in upcoming days and
        to convert that one idea,one vision into reality, we have created this "Youtube Views Predictor"
        A platform which gives you in depth analysis of videos
        as well as future predictions.
        Lastly, the persons who contributed achieving the vision are:-
    </div>
    <div class="row" style="margin: 5px">

        <div class="card  col-lg-4 col-md-4 col-sm-12" style="">
            <div class="row">
                <div class="col-lg-4">
                    <img class="card-img"
                         style="width:180px;height:200px;"
                         src="https://scontent.famd4-1.fna.fbcdn.net/v/t1.0-9/15492530_1138736902906481_868904847410887997_n.jpg?_nc_cat=0&oh=77f8e5a6fac5552f8a4f58fe22fccbd4&oe=5B60CA67">
                </div>
                <div class="col-lg-7 ml-2">
                    <div class="card-footer" style="min-height: 200px;">
                        <h4 class="card-title" style="color:black;">Harshit Patel</h4>

                        <div class="card-text">
                            Student,<br>
                            L.D.College of Engineering
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div class="card shadow col-lg-4 col-md-4 col-sm-12" style="">
            <div class="row">
                <div class="col-lg-4">

                    <img class="card-img"
                         style="padding:3%;width:180px;height:200px;margin:auto"
                         src="https://scontent.famd4-1.fna.fbcdn.net/v/t31.0-8/14195240_1178475322210749_5345602343871851791_o.jpg?_nc_cat=0&oh=471be545024024d31da9db3d77fd02be&oe=5B5E0E5A">
                </div>
                <div class="col-lg-7 ml-2">
                    <div class="card-footer" style="min-height: 200px;">
                        <h4 class="card-title" style="color:black;">Jay Oza</h4>

                        <div class="card-text">
                            Student,<br>
                            L.D.College of Engineering
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow col-lg-4 col-md-4 col-sm-12" style="">
            <div class="row">
                <div class="col-lg-4">
                    <img class="card-img"
                         style="padding:3%;width:180px;height:200px;margin:auto"
                         src="https://scontent.famd4-1.fna.fbcdn.net/v/t1.0-9/30629878_1706736676072796_1640350423837573120_o.jpg?_nc_cat=0&oh=cdb517fbc070d26f1c6c3362cc67b1e4&oe=5B2D9740">
                </div>
                <div class="col-lg-7 ml-2">
                    <div class="card-footer" style="min-height: 200px;">
                        <h4 class="card-title" style="color:black;">Vishvesh Kapadia</h4>

                        <div class="card-text">
                            Student,<br>
                            L.D.College of Engineering
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}